/* -------------------------------- 

Main components 

-------------------------------- */
#timeline {
  background-color: _palette(timeline-bg);
  position: relative;
  padding: 4em 1em 4em 0;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 19px;
    height: 100%;
    width: 2px;
    background: _palette(bg-alt);
  }
}

.timeline-block {
  position: relative;
  margin: 2em 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.timeline-img {
  background-color: _palette(border);
  position: absolute;
  top: 12px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}

.timeline-content {
  position: relative;
  margin-left: 50px;
  border-radius: 0.25em;

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  .anim-target {
    &:before, &:after {
      content: "";
      width: 2px;
      background-color: _palette(timeline-bg);
      height: 100%;
      position: absolute;
      z-index: 4;
    }

    &:before {
      margin-right: -2px;
    }

    &:after {
      margin-left: -2px;
    }
  }

  h2 {
    color: #303e49;
  }

  p, .read-more, .date {
    font-size: 13px;
    font-size: 0.8125rem;
  }

  .read-more, .date {
    display: inline-block;
  }

  .date {
    margin: 0 0 1em 0;
      strong {
        text-align: left;
      }
  }

  .date {
    float: left;
    padding: .8em 0;
    opacity: .7;
    margin-left: 2px;
  }
}

@media only screen and (min-width: 768px) {
  #timeline {
    padding: 4em 2em;    
  }

  #timeline::before {
    left: 50%;
    margin-left: -1px;
  }

  .timeline-block {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .timeline-img {
    width: 16px;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    top: 20px;
  }

  .timeline-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }

  .timeline-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  
  .timeline-content .date {
    font-size: 14px;
    font-size: 0.875rem;
  }

  .timeline-content {
    margin-left: 0;
    width: 47%;

    .anim-target {
        float: right;
    }
  }

  .timeline-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }

  .timeline-content .read-more {
    float: left;
  }

  .timeline-content .date {
    position: absolute;
    width: 100%;
    left: 111%;
    top: 2px;
    font-size: 16px;
    font-size: 1rem;
  }

  .timeline-block:nth-child(even) .timeline-content {
    float: right;

    .anim-target {
        float: left;
    }
  }

  .timeline-block:nth-child(even) .timeline-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }

  .timeline-block:nth-child(even) .timeline-content .read-more {
    float: right;
  }

  .timeline-block:nth-child(even) .timeline-content .date {
    left: auto;
    right: 111%;
    text-align: right;
  }
  
}

#target {
    margin: 0 !important;
}
